
h1.current-info
  font-family: $headline_font
  font-size: 2em
  padding: $default_margin
  text-transform: lowercase

  a
    border-bottom: 1px solid $c_default
    padding-bottom: 1px
    color: $c_default
    text-decoration: none

    &:hover
      border-bottom: 1px solid $c_hover
      color: $c_hover

  span
    display: block
    font-family: $fonts_default
    font-size: 13px
    margin-top: 5px
    text-transform: capitalize

button.info-icon
  background-color: transparent
  border: none
  color: $c_default
  display: block
  cursor: pointer
  font-family: $icon_font
  font-size: 1.25em
  margin: 0 $default_margin

  &:before
    content: '\e60f'
    display: block

  &:hover:before,
  &:focus:before
    color: $c_white

.loader
  background: transparent url(../images/ajax-loader.gif) no-repeat 10px 20px
  display: block
  height: 100%
  margin-top: $default-margin * 3
  display: none
  position: absolute
  width: 100%

  span.loading-text
    display: block
    font-size: 12px
    margin-left: $default_margin
