header
  margin-top: $default_margin * 4
  position: relative
  text-align: center
  z-index: 3

  .clock-active &
    margin-top: 0
    text-align: left

h1.timeframe-logo
  display: inline-block
  padding: $default_margin
  text-align: center

  a
    padding-bottom: 1px
    text-decoration: none

    &:before
      display: block
      margin: $default_margin 0

    span
      display: inline-block
      margin-top: 5px

  .clock-active &
    text-align: left

    a
      &:before
        margin: $default_margin

      span
        left: -50000px
        position: absolute

.byline
  margin: 0 1em
  .clock-active &
    display: none

.date
  display: inline-block
  margin-top: 27px
  vertical-align: top

.loader
  background: transparent url(../images/ajax-loader.gif) no-repeat center 40px
  display: block
  height: 55%
  display: none
  position: absolute
  top: 45%
  text-align: center
  width: 100%
  z-index: 2

  span.loading-text
    background-color: $c_background
    display: inline-block
    margin: $default_margin / 2
//
// Mobile
//
.mobile
  header
    margin-top: $default_margin

  &.clock-active
    .date
      margin-top: $default_margin * 2
    header
      margin-top: 0

      h1
        padding-bottom: 0

        a, a:before
          margin: 0
