header
  margin-top: $default_margin * 4
  position: relative
  text-align: center
  z-index: 3

  .clock-active &
    margin-top: 0
    text-align: left

h1.timeframe-logo
  display: inline-block
  padding: $default_margin
  text-align: center
  vertical-align: top

  a
    padding-bottom: 1px
    text-decoration: none

    &:before
      display: block
      margin: $default_margin 0

    span
      display: inline-block
      margin-top: 5px

  .clock-active &
    text-align: left

    a
      &:before
        margin: $default_margin

      span
        left: -50000px
        position: absolute

.byline
  margin: 0 1em
  .clock-active &
    display: none

.date
  display: inline-block
  margin-top: 27px
  vertical-align: top

.share
  display: inline-block
  font-size: 2.25em

  a
    color: $c_default
    display: inline-block
    font-family: $icon_font
    text-decoration: none
    vertical-align: middle

    &#facebook
      background-color: $c_dkgray
      font-size: 0.65em
      max-height: 22px

      &:hover, &:focus
        background-color: $c_white
        color: $c_facebook
        opacity: 1

      &:before
        content: '\e603'

    &#twitter
      &:before
        content: "\e602"

      &:hover, &:focus
        color: $c_twitter

    .clock-active &
      opacity: 0.8
      margin-left: $default_margin
      margin-top: $default_margin * 1.5

      &#twitter
        color: $c_twitter

      &#facebook
        background-color: $c_default
        color: $c_facebook

.loader
  background: transparent url(../images/ajax-loader.gif) no-repeat center 40px
  display: block
  height: 55%
  display: none
  position: absolute
  top: 45%
  text-align: center
  width: 100%
  z-index: 2

  span.loading-text
    background-color: $c_background
    display: inline-block
    margin: $default_margin / 2
//
// Mobile
//
.mobile
  header
    margin-top: $default_margin

  &.clock-active
    .date
      font-size: 1.25em
      margin-top: $default_margin * 2

    header
      margin-top: 0

      h1
        padding-bottom: 0

        a, a:before
          margin: 0

      .share
        display: block
        float: right

        a
          margin-top: 8px
