@import backbone.modal/backbone.modal
@import backbone.modal/backbone.modal.theme

.bbm-modal
  background-color: #333
  color: $c_white
  padding: 0 0 5%
  position: relative

  p
    color: #999

button.btn-close
  background-color: transparent
  border: 0px
  color: $c_white
  cursor: pointer
  display: block
  font-family: $icon_font
  font-size: 1em
  padding: 2%
  position: absolute
  text-align: right
  right: 0
  top: 0

  &:before
    content: '\e60d'
    display: block

  &:hover:before,
  &:focus:before
    color: $c_hover
