form.tag-input
  padding: $default_margin
  line-height: 22px
  height: auto
  margin: ($default_margin * 2) auto
  position: relative
  z-index: 6

  fieldset
    text-align: center

    fieldset
      display: inline-block

    legend.form-heading
      display: block
      margin: 2% 4%
      text-align: left

  span.or
    display: inline-block
    margin: 0.5em 0
    position: relative

  input
    border-radius: 0
    line-height: 1.75em
    -webkit-appearance: none

    &[type=text]
      box-sizing: border-box
      display: block
      margin: 0
      min-width: 15em
      padding: 0.5em
      text-align: center

    &#submit
      border: none
      display: inline-block
      padding: 0.5em 1em
      margin-top: 0.5em

.username-help
  display: block
  padding: 0.75em

  span
    display: inline-block

.tooltip
  background-color: $c_background
  box-shadow: 0 0 5px #aaa
  padding: 5%
  width: auto

  h2, ol
    margin-bottom: $default_margin

  ol, li
    margin-top: 2%

  .username-img
    background: transparent url(../images/flickr-lookup-username.png) no-repeat center center
    display: inline-block
    min-height: 54px
    min-width: 100%
