form.tag-input
  background-color: #ccc
  padding: $default_margin
  line-height: 22px
  height: auto
  margin-left: $default_margin
  margin-top: 35px
  max-width: 300px

  fieldset
    legend
      font-family: $fonts_default
      font-style: italic
      font-size: 0.75em

    span.or
      font-style: italic

  span
    display: block
    margin: 2% 0

  input
    font-family: $headline_font
    border: none
    font-size: 0.95em
    font-weight: normal
    height: 2em
    line-height: 1.25em

    &[type=text]
      display: block
      float: left
      padding: 0 2%
      width: 96%

    &#submit
      background-color: $c_default
      color: $c_white
      display: inline-block
      margin-top: 5%
      text-transform: lowercase
      -webkit-appearance: none
      width: 22%

      &:hover
        background-color: $c_hover
        color: $c_background
        cursor: pointer

.find-username
  display: block
  float: right
  font-size: 0.75em
  margin-top: 5%
  text-align: right

  a
    text-decoration: none

    span
      display: inline
      text-decoration: underline

.tooltip
  background-color: #333
  box-shadow: 0 0 5px #aaa
  padding: 3%
  width: auto

  h2, ol
    color: $c_white
    margin-bottom: 2%

  ol li
    font-size: 0.85em
    line-height: 1.25em
    list-style: decimal inside
    margin-top: 2%
