//
//   Global
//
li
  list-style-type: none

body
  background-color: $c_background
  color: $c_default
  font-family: $fonts_default

a:link, a:visited
  color: $c_default
  transition: color 0.5s

  &:hover, &:focus
    color: $c_hover

  &:active
    color: $c_red

  .clock-active &
    color: $c_mdgray

    &:hover
      color: $c_white

noscript
  color: $c_default

h1.timeframe-logo
  font-family: $headline_font
  font-size: 2em

  a
    color: $c_default

    &:before
      color: $c_default
      content: '\e601'
      font-family: $icon_font
      font-size: 1.5em
      transition: color 0.5s

    span
      text-transform: uppercase

    &:hover, &:focus, &:hover:before
      color: $c_white

    .clock-active &
      &:before
        color: $c_mdgray
        font-size: 1em

      &:hover:before
        color: $c_white

.date
  color: $c_default
  font-family: $headline_font
  font-size: 1.15em

  .clock-active &
    color: $c_mdgray

.byline
  font-family: $headline_font
  font-size: 1.15em
  line-height: 1.5em

.substantial
  a
    font-size: 1em
    font-family: $icon_font
    letter-spacing: 0.23em

    .clock-active &
      &:hover, &:focus
        color: $c_red

//
// Active Clock
//
.loader span.loading-text
  color: $c_mdgray
  font-family: $headline_font
  font-size: 1em
  text-transform: uppercase

.stack h3
  color: $c_white
  font-family: $clock_font
  font-weight: normal
  font-size: 12vw

.now-showing
  color: $c_ltgray
  font-family: $headline_font
  font-size: 1.2em

  #locationClock &
    text-transform: uppercase

  .clock-active &
    color: $c_mdgray

    a:hover
      color: $c_red

//
// Input form
//
form.tag-input
  input
    background-color: $c_default
    color: $c_background
    font-size: 0.9em

    @include placeholder
      color: $c_mdgray

    &[type=text]
      border: 0px solid $c_default
      box-shadow: 0 0 2px 2px transparent
      font-style: italic
      +transition(all, 0.5s)

      &:hover, &:focus, &:active
        background-color: $c_background
        box-shadow: 0 0 2px 2px $c_default
        color: $c_white
        cursor: text
        outline: none

        @include placeholder
          color: $c_white

    &#submit
      font-size: 1em
      +transition(all, 0.5s)

      &:disabled
        background-color: #999
        color: $c_dkgray

      &:hover:enabled, &:focus:enabled
        background-color: $c_background
        color: $c_white
        cursor: pointer

  span.or
    color: $c_ltgray
    font-size: 1em
    font-family: $headline_font
    text-transform: uppercase

  .username-help
    color: $c_ltgray
    font-size: 1em
    font-family: $headline_font
    text-transform: uppercase
    text-decoration: none

    span
      border-bottom: 1px solid $c_ltgray
      transition: border-color 0.5s

    &:hover, &:focus, &:active
      color: $c_red

      span
        border-color: $c_red


.tooltip
  h2
    font-family: $headline_font

  h2, ol
    color: $c_white

  ol li
    font-size: 0.85em
    line-height: 1.25em
    list-style: decimal inside

//
// Mobile
//
.mobile
  @media #{$portrait}
    .stack
      &#hours h3,
      &#minutes h3,
      &#seconds h3
        font-size: 30vw
