.offscreen
  display: block
  left: -50000px
  position: absolute

@mixin placeholder
  &.placeholder
    @content

  &:-moz-placeholder
    @content

  &::-moz-placeholder
    @content

  &::-webkit-input-placeholder
    @content

@mixin vertPositionMiddle
  position: relative
  top: 40%
  +transform(translateY(-40%))

div.IE-warning
  color: $c_red
  margin: $default_margin
