@import reset
@import config
@import utilities
@import typography
@import header
@import footer
@import search_form
@import jquery-ui

.app
  height: 100%
  min-height: 280px
  width: 100%

  .gradient
    position: absolute
    height: 100%
    top: 0
    width: 100%

  ul
    margin: 0px auto 0
    position: relative
    width: 100%

    li.stack
      float: left
      width: 33%

      h3
        display: none
        padding-top: 3%
        position: absolute
        text-align: center
        width: 33%
        z-index: 1

      &#hours h3
        left: 0

      &#minutes h3
        left: 33%

      &#seconds h3
        left: 66%

      ul
        margin: 0 $default_margin

        li
          margin-bottom: 5px
          overflow: hidden
          padding: 0 $default_margin
          position: relative

          &> div
            height: 0
            margin: 0 auto
            opacity: .7
            overflow: hidden
            padding-top: $default-margin
            position: relative
            width: 80%

            div.img
              background-repeat: no-repeat
              bottom: 0
              display: block
              left: 0
              position: absolute
              right: 0
              top: 0

          &.current
            &> div
              height: auto
              opacity: 1
              padding-top: 56.25%
              width: 100%

              div.img
                background-size: cover
                background-position: center center
                width: 100%

.touch
  @media #{$portrait}
    li.stack
      float: none
      margin: $default-margin auto
      position: relative
      width: 100%

      h3
        width: 100%

      &#hours h3,
      &#minutes h3,
      &#seconds h3
        left: auto

      ul
        margin: 0

        li.current > div
          min-height: 15px
          padding-top: 40%
